*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #343a40;

    --text-bg: #FFAC00;

    --tick-epsilon-1: hsl(146, 68%, 47%);
    --idle-epsilon-1: hsla(146, 68%, 47%, 0.3);
    --hover-epsilon-1: hsla(146, 68%, 47%, 0.5);

    --tick-epsilon-2: hsl(7, 99%, 63%);
    --idle-epsilon-2: hsla(7, 99%, 63%, 0.3);
    --hover-epsilon-2: hsla(7, 99%, 63%, 0.5);

    --tick-epsilon-3: hsl(38, 100%, 52%);
    --idle-epsilon-3: hsla(38, 100%, 52%, 0.3);
    --hover-epsilon-3: hsla(38, 100%, 52%, 0.5);

    --tick-epsilon-4: hsl(0, 0%, 100%);
    --idle-epsilon-4: hsla(0, 0%, 100%, 0.3);
    --hover-epsilon-4: hsla(0, 0%, 100%, 0.5);

    --tick-epsilon-5: hsl(0, 0%, 100%);
    --idle-epsilon-5: hsla(0, 0%, 100%, 0.3);
    --hover-epsilon-5: hsla(0, 0%, 100%, 0.5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    color: azure;
    margin: auto;
    padding: 18px;
    max-width: 1240px;
}

header {
    width: max-content;
    padding: 10px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.849);
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

main {
    margin-top: 100px;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 80px;
    justify-content: center;
}

section {
    width: max-content;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    margin: 10px;
}

label {
    --idleC: white;
    --hoverC: white;
    --tickC: white;

    font-size: 18px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 5px;
    position: relative;
    user-select: none;
}

input[type= "checkbox"],
input[type= "radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* Box */
label::before,
label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: var(--idleC);

    position: absolute;
    left: -1.5em;
    cursor: pointer;
}

/* Tick */
label::after {
    display: none;
    background-color: transparent;
    width: 0.5em;
    height: 0.8em;
    left: -1.25em;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 0 0.2em 0.2em 0;
    transform: rotate(45deg);
}

label:hover::before {
    background-color: var(--hoverC);
}

/* Select only first label before input */
input:checked + label::after {
    display: inline-block;
}

input:checked + label::before {
    background-color: var(--tickC);
}

input:disabled + label {
    opacity: 0.4;
    text-decoration: line-through;
}

/* Checkbox epsilon-1 */
.checkbox-1 {
    --idleC: var(--idle-epsilon-1);
    --hoverC: var(--hover-epsilon-1);
    --tickC: var(--tick-epsilon-1);
}

/* Checkbox epsilon-2 */
.checkbox-2 {
    --idleC: var(--idle-epsilon-2);
    --hoverC: var(--hover-epsilon-2);
    --tickC: var(--tick-epsilon-2);
}

.checkbox-2::before {
    border-radius: 50%;
}

.checkbox-2::after {
    display: inline-block;
    transform: rotate(45deg) scale(0);
    transition: transform 0.2s linear;
}

input:checked + .checkbox-2::after {
    transform: rotate(45deg) scale(1);
}

/* Checkbox epsilon-3 */
.checkbox-3 {
    --idleC: var(--idle-epsilon-3);
    --hoverC: var(--hover-epsilon-3);
    --tickC: var(--tick-epsilon-3);
}

input:checked + .checkbox-3::after {
    display: inline-block;
    transform-origin: top left;
    left: -0.9em;
    animation: rotate 0.4s ease-in-out;
}

@keyframes rotate {
    0% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0, 0);
    }
    20% {
        transform: rotate(81deg) scale(0.2, 0.2);
    }
    40% {
        transform: rotate(162deg) scale(0.4, 0.4);
    }
    60% {
        transform: rotate(243deg) scale(0.6, 0.6);
    }
    80% {
        transform: rotate(324deg) scale(0.8, 0.8);
    }
    100% {
        transform: rotate(405deg) scale(1, 1);
    }
}

/* Radio epsilon-4 */
.radio-1 {
    --idleC: var(--idle-epsilon-4);
    --hoverC: var(--hover-epsilon-4);
    --tickC: var(--tick-epsilon-4);
}

input:checked + .radio-1::after {
    display: inline-block;
    transform-origin: top left;
    left: -0.9em;
    animation: slide 0.2s ease-in-out;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0.5em, 0.5em);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: rotate(45deg) translate(0, 0);
    }
}

/* Radio epsilon-5 */
.radio-2 {
    --idleC: var(--idle-epsilon-5);
    --hoverC: var(--hover-epsilon-5);
    --tickC: var(--tick-epsilon-5);

    font-size: 18px;
}

.radio-2::before {
    width: 2em;
    height: 1em;
    border-radius: 1em;

    left: -2.5em;
}

.radio-2::after {
    height: 1em;
    width: 1em;

    background-color: var(--tick-epsilon-4);
    border: 0px solid transparent;
    border-radius: 50%;

    left: -1.5em;
    display: inline-block;
    transition: left 0.2s ease-in-out;
}

input:checked + .radio-2::after {
    left: -2.5em;
}

input:checked + .radio-2 {
    color: red;
}